<div class="container">
  <header class="header">
    <div class="wrapper-logo">
      <div class="logo">Online Exam Portal</div>
      <nav class="breadcrumb">
        <span>►</span>
        <span
          >Kỳ thi: {{ exam_session_name }}-{{ exam_session_description }}</span
        >
        <span>►</span>
        <span>Thêm câu hỏi</span>
      </nav>
    </div>
    <div class="return-button">
      <button (click)="goBack()"><i class="fa fa-arrow-left"></i> Quay lại</button>
    </div>
  </header>
</div>

<router-outlet></router-outlet>
